/*nav menu*/
.navbar{
    clear:left;
}
.container{
    max-width: 1181px;
    max-height: 50px;
    background-color: #fff !important;
}
.nav-link{
    float:left;
    font-family:Inter, sans-serif;
    margin:auto 10px;
}
.icon{
    margin: auto;
    display: inline;
}
.hr{
    width:100%;
}

/*first-body */
.first-body{
    position: relative;
    height: 550px;
}
.first-body-up{
    margin-top: 100px;
}

.first-body-up p{
    font-size: 66px;
    font-weight: 700;
    margin-bottom: 0px;
}
.chat p{
    font-size: 25px;

}
.first-body-down .btn{
    background-color: #2c46d6;
    font-size: 16px;
    padding:  2.5% 5%;
    color:white;
    transition: 0.2s;
}
.first-body-down .btn:hover {
    transform: scale(0.8);
}

.first-body-down a{
    text-decoration: none;
    padding:2px 5px 2px 50px;
    color: black;
    font-weight: 600;
}
.first-body-right{
    position: absolute;
    margin-left: 750px;
    margin-top: -400px;
}

.first-body-right img{
    width: 550px;
    height: 550px;
}
/*Second body*/
.second-body{
    margin-top: 100px;
    position: relative;
}
.second-body-left{
    margin-left: 20px;
}
.second-body-left img{
    width: 600px;
    height: 600px;
}
.second-body-right{
    position: absolute;
    margin-left: 750px;
    margin-top: -500px;

}
.second-body-right h2{
    font-size: 50px;
    font-weight: 650;
    margin-bottom: 0px;
}
.second-body-right p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    padding-right: 110px;
}
.second-body-right .btn{
    background-color: #2c46d6;
    padding: 15px 25px;
    color: white;
    font-size: 16px;
}
/*third body*/
.third-body{
    margin: 200px 220px 120px 220px;
    max-width: 900px;
    height: 500px;
    background-color: #d9f8f5;
    text-align: center;
    border-radius: 40px;

}
.third-body h4{
    font-size: 35px;
    font-weight: 700;
    padding: 80px 80px;
}
.third-body p{
    font-size: 30px;
    font-weight: 500;

}
/*forth body*/
.forth-body{
    display: flex;
    justify-content: center;
}
.forth-body-left{
    margin-top: 200px;
}
#forth-p{
    font-size: 20px;
    font-weight:700;
    color: blue;
    margin-bottom: 10px;
}
.forth-body-left h1{
    font-weight: 700;
}
.forth-body-left img{
    width: 100px;
    height:80px;

}
.forth-img{
    position: relative;
    margin-top: 30px;
}
.forth-p{
    position: absolute;
    margin-left:150px;
    margin-top: -70px;
}
.forth-h3{
    font-weight: 700;
}
.forth-body-left p{
    font-size: 20px;
    font-weight: 450;
}
.forth-body-right{
    padding-left: 100px;
}

.forth-body-right img{
    width: 550px;
    height: 550px;
}

/*fifth body*/

.fifth-body{
    margin: 200px 0px;
}
.portfolio{
    text-align: center;
    margin-bottom: 70px;
}
.portfolio p{
    font-weight: 700;
    font-size: 20px;
    color: rgb(39, 39, 235);
}
.portfolio h4{
    font-size: 45px;
}
.card-item{
    display: flex;
    margin: 0px 50px;
    margin-bottom: 100px;
}
.portfolio-card1{
    margin-right: 100px;
}
#card1{
    background-color: #e7eff6;
    border-radius: 50px;
    height: 630px;
}
.portfolio-card1 .card-body{
    padding: 60px 40px;
}
.card-body h4{
    font-size: 35px; 
}
.card-body p{
    font-size: 20px;
}
.card-body a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: 700;
}
.portfolio-card2{
    margin-right: 100px;
}
.portfolio-card2 .card-body{
    padding: 60px 40px;
}
#card2{
    background-color: #fffae9;
    border-radius: 50px;
    max-width: 496.328px;
    max-height: 630.281px;
}
#card3{
    background-color: #e7faff;
    border-radius: 50px;
    max-width: 496.328px;
    max-height: 630.281px;
}
#card4{
    background-color: #d8deed;
    border-radius: 50px;
    max-width: 496.328px;
    max-height: 630.281px;
}
/*sixth body*/
.sixth-body{
    margin-bottom: 100px;
}
.header{
    text-align: center;
    margin-bottom: 70px;
}
.header p{
    font-weight: 700;
    font-size: 20px;
    color: rgb(39, 39, 235);
}
.header h4{
    font-size: 45px;
}
.testimony{
    display: flex;
    margin-bottom: 100px;
}
.img{
    margin: 0px 20px;
}
.chating{
    max-width: 900px;
    margin: auto;
    background-color: #e0e1fd;
    border-radius: 30px;
}
.chating p{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-top: 40px;
}
.chating .btn{
    background-color: #455de2;
    margin: 20px 380px;
    padding: 12px 10px;
}
/*seventh  body*/
.news1{
    display: flex;
    border-radius: 40px;
    border: solid 1px;
    border-color: rgb(203, 203, 204);
    margin-bottom: 40px;
}
.left-news1{
    padding: 40px 30px;
}
.left-news1 h4{
    font-weight: 600;
    font-size: 30px;
}
.left-news1 p{
    font-size: 20px;
}
.left-news1 a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: 500;
}
.rigth-news1 img{
    width: 100%;
    padding: 20px;
}
.news2{
    display: flex;
    border-radius: 40px;
    border: solid 1px;
    border-color: rgb(203, 203, 204);
    margin-bottom: 40px;
}
.left-news2{
    padding: 40px 30px;
}
.left-news2 h4{
    font-weight: 600;
    font-size: 30px;
}
.left-news2 p{
    font-size: 20px;
}
.left-news2 a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: 500;
}
.rigth-news2 img{
    width: 100%;
    padding: 20px;
}
/*eighth  body*/
.eighth-body{
    margin: 100px 0;
}
.certification{
    text-align: center;
}
.certification p{
    font-size: 40px;
    font-weight: 700;
}
.certificate-img img{
    max-width: 100%;
    height: 650px;
    margin: 40px 185px;
    box-shadow: 0 0 40px 5px rgb(203, 203, 204);
    
}
/*nineth  body*/
.ninth-body{
    text-align: center;
    margin: 100px auto;
}
.connect h3{
    font-size: 40px;
    font-weight: 700;
}
.connect p{
    font-size: 18px;
    font-weight: 500;
}
.fa-3x{
    margin: 10px 20px;
}
/*tenth  body*/
.tenth-body{
    background-color: #455de2;
    margin-top: 7800px;
}
.card-style{
    width: 230px;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 30px;
    text-align: center;
    background-color: #b6c1fe;
}
.img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 20px;
}
.tenth-body-left .body{
    padding: 0 15px;
    color: black
}
.tenth-body-left .footer{
    padding-bottom: 20px;
    margin-left: 53px;
}
.footer{
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    padding-top: 2%;
    color: white;
}
.tenth-body ul li{
    list-style-type: none;
    padding: 4px;
    font-weight: 600;
    
}
.tenth-body-menu{
    padding-left: 6%;
}
.tenth-body-social{
    padding-left: 4%;
}
.tenth-body-portfolio{
    padding: 0 10%;
}
.footer .btn{
    background-color: #2c46d6;
}
.tenthlast{
    text-align: center;
    color: white;
    font-weight: 600;
}
.tenthlastimg{
    text-align: center;
}